* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 150px;
  font-family: Arial, sans-serif;
  background-color: #1B1B1B;
  color: #f1f5f9;
}

/* NAVBAR */
 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html, body {
      height: 100%;
    }

    nav {
      background-color: #A561E8;
      color: white;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }

    .nav-esquerda {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      text-decoration: none;
    }

    .logo img {
      width: 160px;
      height: 60px;
    }

    .menu-botoes {
      display: flex;
      gap: 20px;
        }

    .menu-botoes a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      padding: 8px 12px;
    }

    .perfil-container {
      display: flex;
      align-items: center;
      gap: 20px; 
    }

    .icone-pesquisa {
      width: 40px;
      height: 30px;
    }

    .perfil img {
      width: 45px;
      height: 35px;
    }

    main {
      margin-top: 80px; 
      padding: 20px;
      color: white;
    }


/* CONTEÚDO PRINCIPAL */
.container {
  width: 400px;
  margin: 60px auto;
  padding: 32px;
  background-color: #A561E8;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #4C1184;
  margin-bottom: 24px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #f1f5f9;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4C1184;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.link {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.link a {
  color: #4C1184;
  text-decoration: none;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
  }
}
