 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html, body {
      height: 100%;
    }

    nav {
      background-color: #A561E8;
      color: white;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }

    .nav-esquerda {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      text-decoration: none;
    }

    .logo img {
      width: 160px;
      height: 60px;
    }

    .menu-botoes {
      display: flex;
      gap: 20px;
        }

    .menu-botoes a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      padding: 8px 12px;
    }

    .perfil-container {
      display: flex;
      align-items: center;
      gap: 20px; 
    }

    .icone-pesquisa {
      width: 40px;
      height: 30px;
    }

    .perfil img {
      width: 45px;
      height: 35px;
    }

    main {
      margin-top: 80px; 
      padding: 20px;
      color: white;
    }
